@import '../../assets/scss/abstracts/variables';

.editprofile{
    padding-top: 200px;
    padding-bottom: 200px;
    .legend{
        letter-spacing: 2px;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }
    .title {
        margin: 10px 0;
      }
    .button{
        text-align: center;
    }
    .error-text{
        color: $color-red;
        font-size: 12px;
        margin-top: -25px;
    }

    .avartar{
        .profile-img{
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin-top: 47px;
            border: none;
            border-radius: 50%;
        }
        
        input[type="file"]{
            margin-top: -29px;
            height:120px;
            width: 120px;
        }

        .profile-img-input{
            position: relative;
            opacity: 0;
            cursor: pointer;
        
        }
    }
    .select{
        outline: none;
        border-radius: 0px;
        border-color:$sub-color;
    }
}