@import '../../assets/scss/abstracts/variables';

.profile-view {

    .profile-container {
        -webkit-box-shadow: 3px 9px 71px -1px $color-grey;
        -moz-box-shadow: 3px 9px 71px -1px $color-grey;
        box-shadow: 3px 9px 71px -1px $color-grey;
        border-radius: 20px;
        border: none;
        padding-top: 50px;
        padding-bottom: 50px;
        .profile-heading{
            color: $color-blue;
            font-size: 23px;
            font-weight: 500;
        }
        .profile-text{
            color: $main-color;;
            font-size: 18px;
            font-weight: 400;
            border: solid 1px $sub-color;
            border-radius: 5px;
            padding: 10px;
        }
    }
    .profile-pics-container{
        text-align: center;
    }
    .profile-pics {
        border-radius: 50%;
        margin-top: 50px;
        margin-bottom: 50px;
        border: none;
    }

    
}