.signin{
    padding-top: 200px;
    padding-bottom: 200px;
    .legend{
        letter-spacing: 2px;
        font-size: 18px;
        text-align: center;
        font-weight: 500;
    }
    .title {
        margin: 10px 0;
      }
    .button{
        text-align: center;
    }
    .error-text{
        color: red;
        font-size: 12px;
        margin-top: -25px;
    }
}